body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


input[type=text], input[type=password] {
width: 100%;
padding: 10px;
margin: 5px 0 10px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 20px;
  outline: none;
  background: #f1f1f1;
  }

input[type=text]:focus, input[type=password]:focus select:focus{
background-color: rgb(236, 228, 228);;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}


button {
background-color: #03055c;
color: white;
padding: 14px 20px;
margin: 8px 0 ;
border: none;
cursor: pointer;

opacity: 0.9;
float: right;
}
.limiter {
width: 100%;
margin: 0 auto;
}

button:hover {

background-color:green;
cursor: pointer;
box-shadow: 0 22px 30px 0 rgba(0,0,0,0.6);
}


.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}


.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

.container {
padding: 16px;
}


.clearfix::after {
content: "";
clear: both;
display: table;
}



.padre {
  background-color: #56abbf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  background-image: linear-gradient(120deg, rgba(114, 124, 171, 0.699) 0%, rgba(38, 27, 85, 0.692) 100%),  url("../../../../assets/img/f2.svg");
width: 99vw;
height:97vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
position: relative;
overflow: hidden;
}

.wrap-login100 {
padding-top: 0px;
padding-left: 15px;
padding-right: 15px;
}

.copia{
  margin: auto;width: 60%;
}
@media screen and (max-width: 1000px) {
  .cancelbtn, .signupbtn {
      width: 100%;
  }
  .wrap-login100 {
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
  }



  form{
      padding-left: 0px;
      padding-right: 0px;
  }

  .copia{
      margin: 5%;width: 90%;
      margin-top: 1%;
      padding-left: 0px;
      padding-right: 0px;
      
  }
  .texto{
    font-size: large;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
    }
    input:focus{
      outline: none;
    }

    select{
      width: 70%;
    }

}
