<body class="hero limiter wrap-login100 ">
  <div class="copia"  >
  <form action="/action_page.php" style="padding-left: 30px;padding-right: 30px;border:1px solid #ccc; border-radius: 20px;background-color: #ffffff;box-shadow: 0 22px 30px 0 rgba(0,0,0,0.50);" >
    <div class="container">
      <h1 class="titulo">Perfil de usuarios</h1>

      <hr>


      <input type="text" placeholder="Jose" name="text" required style="border-radius: 20px;">

      <input type="text" placeholder="Cruz" name="email" required style="border-radius: 20px;">



      <input type="text" placeholder="Correo" name="email" required style="border-radius: 20px;">

      <input type="password" placeholder="Password" name="psw" required style="border-radius: 20px;">

      <input type="text" placeholder="Numero de telefono" id="psw" required style="border-radius: 20px;">

      <input type="date" required style="border-radius: 20px; content:none;  width: 200px;">


      <select name="" id="" style="border-radius: 20px;" style="width: 110px;" >
          <option disabled selected>Genero</option>
          <option value="0">Masculino</option>
          <option value="0">Femenino</option>
      </select>


      <div class="clearfix">
        <a routerLink="/contenedor" routerLinkActive="active"> <button type="button" class="btn btn-warning" style="border-radius: 20px;">Actualizar</button></a>
        <a routerLink="/contenedor" routerLinkActive="active">  <button type="submit" class="btn btn-success" style="border-radius: 20px; background-color: crimson;">Cancelar</button></a>
      </div>
    </div>
  </form>
  </div>
  </body>
