<div class="bg-green border-right" [ngStyle]="{'margin-left': bntStyle}" id="sidebar-wrapper" >
    <div class="sidebar-heading"><img src="../../../../assets/img/logo-removebg-preview (2).png" sizes="10px" style="margin-bottom: 15px;"> </div>
    <div class="list-group list-group-flush" >
      
      <a (click)="nuevoProyecto()" class="list-group-item list-group-item-action  bt-color">Nuevo Proyecto</a>
      <a (click)="nuevaCarpeta()" class="list-group-item list-group-item-action  bt-color">Nueva Carpeta</a>
      <a (click)="proyectos()" class="list-group-item list-group-item-action  bt-color">Proyectos</a>
      <a (click)="perfil()" class="list-group-item list-group-item-action  bt-color">Perfil</a>
      <a (click)="salir()" class="list-group-item list-group-item-action  bt-color">Salir</a>
      
    </div>
  </div>