
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  /*background-image: linear-gradient(120deg, rgba(117, 175, 247, 0.699) 0%, rgba(221, 200, 204, 0.692) 100%);*/
  background-color: #6377c9;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
a:hover {
  background-color: yellow;
  cursor: pointer;
}

.bt-color{
 /* background-image: linear-gradient(120deg, rgba(216, 227, 240, 0.699) 0%, rgba(221, 200, 204, 0.692) 100%);*/
 background-color: #7386d5;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

.sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
